@model  AjaxValidationDemo.Models.UserViewModel

@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <br />
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "UserForm", name = "UserForm", @class = "form-horizontal", role = "form" }))
    {
<fieldset>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })   <!--Enable Data Anotation-->
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-lg-2 control-label" })
        <div class="col-lg-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" }) <!--Display of Error Notification-->
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-lg-2 control-label" })
        <div class="col-lg-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })<!--Display of Error Notification-->
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-lg-2 control-label" })
        <div class="col-lg-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })<!--Display of Error Notification-->
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            <button type="submit" id="btnSubmit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</fieldset>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            
            $('#btnSubmit').click(function () {

                if ($("#UserForm").valid()) { //check if form is valid using model annotation
                    $('#UserForm').submit(); 
                }
                else {
                    return false;
                }
            });
            $("#UserForm").on("submit", function (event) {
                event.preventDefault();
                $('#btnSubmit').attr('disabled', 'disabled');
                var url = $(this).attr("action");
                var formData = $(this).serialize();
                $.ajax({
                    url: url,
                    type: "POST",
                    data: formData,
                    dataType: "json",
                    success: function (response) {  
                        alert('Success! ' + JSON.stringify(response));
                    },
                    error: function (response) {
                        alert('Error!');
                    },
                    complete: function () {
                        $('#btnSubmit').removeAttr('disabled');
                    }
                })
            });
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}